

<h1>the login page</h1>

<form action="@Routes.APILogin">
    <label>username
        <input type="text" name="username" />
    </label>
    <label>password
        <input type="password" name="password"/>
    </label>

    <input type="submit"/>
</form>
