

<h1>the signin page</h1>

<form action="@Routes.APISignin">
    <label>username
        <input type="text" name="username" />
    </label>
    <label>password
        <input type="password" name="password"/>
    </label>
    <label>email
        <input type="text" name="email"/>
    </label>

    <input type="submit"/>
</form>
